@use "sass:map";
@use "fonts.bundle.css";

// Sizes
$max-width: 750px;
$avatar-size: 90px;

// Colors
$black: #222222;
$red: rgba(207, 62, 45, 1);
$green: #086759;
$purple-20: rgba(102, 57, 186, 0.2);
$off-white: rgb(242, 242, 242, 1);
$off-cream: #fcf8e3;

// Font
$font-family: "Geist Variable", sans-serif;
$font-size: 14pt;

// Margins
$y-small: 0.6rem;
$y-medium: 1.0rem;

// Media queries
$breakpoints: (
  phone-sm: 420px,
  phone: 767px,
  tablet: 768px,
  tablet-lg: 1024px,
  desktop: 1025px,
  desktop-lg: 1600px
  );

@mixin for-size($breakpoint) {
    // If the breakpoint exists in the map.
    @if map.has-key($breakpoints, $breakpoint) {
        // Get the breakpoint value.
        $breakpoint-value: map.get($breakpoints, $breakpoint);

        //Build the media query
        @media (max-width: $breakpoint-value) {
            @content;
        }
    } 
}
// Placeholders
%link-default {
    text-decoration: $purple-20 0.2em underline;
    text-underline-offset: 0.3em;
    color: $black;
    & * {
        color: $purple-20;
    }
    &:hover {
        background-color: $purple-20;
        color: $green;
        text-decoration: none;
    }
}
%link-dark {
    color: $black;
    text-decoration: none;
    & * {
        color: $black;
    }
    &:hover {
        color: $black;
        text-decoration: underline;
    }
}
%table-cell {
    border: 1px solid #cccccc;
    padding: 6px 12px;
    text-align: left;
}

// Style
* {
    color: $black;
    font-family: $font-family;
    font-size: $font-size;
    line-height: 1.6;
    font-style: normal;
    font-weight: 300;
    font-optical-sizing: auto;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

::selection {
    background-color: $purple-20;
    color: $green;
}

body {
    background-color: $off-white;
}

em {
    font-style: italic;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top-width: 0px;
    border-top-style: none;
    border-top-color: currentcolor;
    //border-top: 1px  dashed $red;
}

mark {
    padding: 0 0.2em;
    background-color: $purple-20;
    color: $green;
}
strong {
    font-weight: 600;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}
.container {
    max-width: $max-width;
    margin: 0 auto;
}
.grid {
    display: grid;
    column-gap: 1rem;
    &.two {
        grid-template-columns: 2fr 1fr;
    }
    * {
        max-width:100%;
        height: auto;
    }
}

.callout {
    width: 100%;
    margin-top: $y-small;
    margin-bottom: $y-small;
}

#content {
    display: block;

    a {
        @extend %link-default;
    }
    p {
        margin-bottom: $y-small;
    }
    h1, h2, h3, h4, h5 {
        background-color: $purple-20;
        color: $green;
        display: inline-block;
        padding: 0 0.2em;
        font-size: medium;
        font-weight: 600;
        margin: $y-medium 0 $y-small 0;
    }
    h6 {
        font-size: 1rem;
        font-weight: 300;
        margin: $y-medium 0 $y-small 0;
        border-left: 4px solid $purple-20;
        padding-left: 0.5em;
    }
    @for $i from 1 through 4 {
        h#{$i} {
            font-size: 1.2rem + 0.2 * (4 - $i);
        }
    }
    img {
        display: block;
        margin: $y-medium auto;
        max-width: 100%;
        &.round {
            border-radius: 50% 2% 50% 2%;
        }
    }
    ol {
        counter-reset: list;
        list-style: none;
        padding-left: 2rem;
        & > li {
            display: table-row;
        }
        & > li:before {
            content: "[" counter(list, decimal) "] ";
            counter-increment: list;
            display: table-cell;
            text-align: right;
            padding-right: .5em;
        }
    }
    .container > ol, .footnotes > ol {
        padding-left: 0;
    }
    ul {
        list-style: none;
        padding-left: 0;
        & > li {
            list-style: none;
            margin-left: 0;
            margin-bottom: 2em;
            border-left: 4px solid $purple-20;
            padding-left: 0.5em;
        }
    }
    .container > ul, .footnotes > ul {
        padding-left: 0;
    }
    table {
        margin: $y-medium auto;
        width: 100%;
        & th {
            @extend %table-cell;
            font-weight: bold;
        }
        & td {
            @extend %table-cell;
        }
        & tr:nth-child(2n) {
            background-color: #f8f8f8;
        }
    }
    blockquote {
        border-left: 4px solid;
        font-style: italic;
        margin: $y-medium 0;
        padding: 8px 8px;
    }
    code {
        color: $black;
        background-color: #f8f8f8;
        border: 1px solid #cccccc;
        border-radius: 10%;
        padding: 0px 4px;
    }
    pre code {
        all: unset;
    }
    .highlight {
        margin: $y-medium auto;
        & > pre {
            padding: 8px 8px;
        }
    }
    .photo {
        @include for-size(tablet) {
            display: none;
        }
    }
    .site-name {
    @extend %link-dark;
    font-size: 2rem;
}
}
footer {
    a, a * {
        color: $black !important;
        text-decoration: none !important;
        &:hover {
            background: none !important;
        }
    }
    text-align: center;
}
